# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependencias (si en el futuro agregás npm)
node_modules/
.env
.env.local

# Build outputs (si en el futuro compilás)
dist/
build/

.vercel
